# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
.env.local
**/.env
**/.env.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
build/
dist/
coverage/

# OS and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules
.env